body { font-family: Arial, sans-serif; }
.card:hover {
    transform: translateY(-5px);
    transition: 0.3s;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}
.section { padding: 60px 0; }

.icon{
  height: 15px;
  width: 15px;
}

/* ====================================== */
/* NAVBAR USER IMAGE */
/* ====================================== */

.navbar-user-img{
    width: 38px;
    height: 38px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #e9ecef;
    transition: .2s;
}

.navbar-user-img:hover{
    transform: scale(1.05);
}

/* ====================================== */
/* USER IMAGE */
/* ====================================== */

.navbar-user-img{
    width: 38px;
    height: 38px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #e9ecef;
}



/* ====================================== */
/* NESTED DROPDOWN */
/* ====================================== */

.dropdown-submenu{
    position: relative;
}

.dropdown-submenu .dropdown-menu{
    top: 0;
    left: 100%;
    margin-left: 5px;
    display: none;
    position: absolute;
}

.dropdown-submenu:hover .dropdown-menu{
    display: block;
}

/* VOTE */
.vote-box {
    display: flex;
    gap: 10px;
}

.vote-btn {
    padding: 6px 14px;
    border-radius: 6px;
    border: 1px solid #ddd;
    background: #fff;
    cursor: pointer;
}

.vote-btn.upvote {
    color: #198754;
}

.vote-btn.downvote {
    color: #dc3545;
}

.no-underline{
    text-decoration: none;
}
