{% extends "base.html" %}
{% load static %}

{% block title %}Detail of {{ app.name }}{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/app-detail.css' %}">
{% endblock %}

{% block content %}

<div class="container py-4">
    <div class="row g-4">

        <!-- LEFT: Developer Card -->
        <div class="col-lg-3">

            <div class="card dev-card sticky-top">
                <div class="card-body text-center">

                    <!-- Avatar -->
                    <div class="dev-avatar-wrapper">

                        {% if app.founder.image %}
                            <img src="{{ app.founder.image.url }}" class="dev-avatar">
                        {% else %}
                            <img src="{% static 'icons/'|add:app.founder.gender|add:'-sign.png' %}" style="height:80px;width:80px;border-radius:50%;">
                        {% endif %}

                    </div>

                    <!-- Info -->
                    <h6 class="mb-1">{{ app.founder.full_name }}</h6>
                    <p class="text-muted small">{{ app.founder.email }}</p>

                    <div class="d-flex justify-content-center gap-2">
                        {% if request.user != app.founder %}
                            {% if is_following %}
                                <form method="POST" action="{% url 'unfollow' app.founder.id %}">
                                    {% csrf_token %}
                                    <button class="btn btn-outline-primary btn-sm">Following</button>
                                </form>
                            {% else %}
                                <form method="POST" action="{% url 'follow' app.founder.id %}">
                                    {% csrf_token %}
                                    <button class="btn btn-outline-primary btn-sm">Follow</button>
                                </form>
                            {% endif %}
                        {% endif %}
                        <a href="{% url 'profile' app.founder.username %}" class="btn btn-outline-secondary btn-sm">Profile</a>
                    </div>

                </div>
            </div>

        </div>


        <!-- CENTER: APP DETAIL -->
        <div class="col-lg-6">

            <h3 class='text-secondary'>{{app.name}}</h3>
            
            {% if app.category %}
                <!-- Category -->
                <div class="app-category">
                    Categoriers : 
                    {% for cat in app.category.all %}
                        <span class='primary'>{{ cat.name }}</span>
                    {% endfor %}
                </div>
            {% endif %}

            {% if app.tags %}
                <!-- Tags -->
                <div class="app-tags">
                    Tags : 
                    {% for tag in app.tags.all %}
                        <span class="badge">{{ tag.title }}</span>
                    {% endfor %}
                </div>
            {% endif %}
            

            <!--App Images (Screen Shots)-->
            <div class="image-scroll">
            {% for image in app.app_images.all %}
                <img 
                    src="{{ image.image.url }}" 
                    class="app-image preview-img"
                    data-index="{{ forloop.counter0 }}">
            {% endfor %}
            </div>

            <!-- Description -->
            <div class="app-description">
                {{ app.detail|safe }}
            </div>

            <!-- Votes -->
            <div class="vote-box">

                <form method="post" action="{% url 'vote' app.id %}">
                    {% csrf_token %}
                    <input type="hidden" name="vote_type" value="upvote">
                    <button class="vote-btn upvote" type="submit">
                        ⬆ {% if user_vote and user_vote ==  "upvote" %} Remove {% endif %}
                    </button>
                </form>

                <form method="post" action="{% url 'vote' app.id %}">
                    {% csrf_token %}
                    <input type="hidden" name="vote_type" value="downvote">
                    <button class="vote-btn downvote" type="submit">
                        ⬇ {% if user_vote and user_vote ==  "downvote" %} Remove {% endif %}
                    </button>
                </form>

            </div>

        </div>


        <!-- RIGHT: COMMENTS -->
        <div class="col-lg-3">

            <div class="card review-card">
                <div class="card-body">

                    <!-- Comment Form -->
                    <form method="POST" action = "{% url 'add-review' app.id%}">
                        {% csrf_token %}
                        {{form.review}}

                        <button class="btn btn-dark w-100 mt-2">
                            Post
                        </button>
                    </form>

                    <hr>
                    
                    <!-- Comments -->
                    {% for review in app.reviews.all %}

                        <div class="review">

                            <div class="d-flex justify-content-between align-items-start">

                                <!-- LEFT -->
                                <div class="d-flex align-items-center gap-2">

                                    {% if review.user.image %}
                                        <img src="{{ review.user.image.url }}" class="user-profile">
                                    {% else %}
                                        <img src="{% static 'icons/'|add:review.user.gender|add:'-sign.png'%}" 
                                            class="user-profile">
                                    {% endif %}

                                    <strong>{{ review.user.username }}</strong>

                                </div>

                                <!-- RIGHT -->
                                {% if request.user == review.user %} 

                                    <div class="dropdown">

                                        <button class="btn btn-sm border-0 shadow-none"
                                                data-bs-toggle="dropdown">

                                            ⋮

                                        </button>

                                        <ul class="dropdown-menu dropdown-menu-end">

                                            <li>

                                                <form method="POST"
                                                    action="{% url 'del-review' review.id %}">

                                                    {% csrf_token %}

                                                    <button type="submit"
                                                            class="dropdown-item text-danger">

                                                        Delete

                                                    </button>

                                                </form>

                                            </li>

                                        </ul>

                                    </div>

                                {% endif %}

                            </div>


                            
                            <p>{{ review.review }}</p>

                            <strong>Did you find this helpful?</strong>
                                <form method="POST">
                                    {% csrf_token %}
                                    <span>
                                        <button type="submit" class='btn btn-primary' name="yes" value="yes">Yes</button>
                                        <button type="submit" class='btn btn-outline-danger' name="no" value="no">No</button>
                                    </span>
                            </form>
                            
                        </div>

                    {% empty %}
                        <p class="text-muted">No comments yet</p>
                    {% endfor %}

                </div>
            </div>

        </div>

    </div>

    <!-- Image Lightbox -->
    <div id="imageViewer" class="image-viewer">

        <span class="close-btn">&times;</span>

        <!-- Left Arrow -->
        <span class="nav-arrow left">&#10094;</span>

        <!-- Image -->
        <img id="viewerImage">

        <!-- Right Arrow -->
        <span class="nav-arrow right">&#10095;</span>

    </div>
</div>

{% block js %} 
    <script src="{% static 'js/app-detail.js'%}"></script>
{% endblock js %}

{% endblock %}