{% extends 'base.html' %}
{% load static %}

{% block title %}
    Explore Apps
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/apps.css' %}">
{% endblock css %}

{% block content %}

<div class="apps-page">

    <!-- Filter Section -->
    <div class="top-filter-bar">

        <form method="GET" class="filter-form" action="{% url 'all-apps' %}">

            <div class="filter-item">
                <input
                    type="text"
                    name="name"
                    value="{{ request.GET.name }}"
                    placeholder="Search apps..."
                >
            </div>

            <div class="filter-item">
                <select name="category">
                    <option value="">Category</option>

                    {% for cat in categories %}
                        <option value="{{ cat.name }}"
                            {% if request.GET.category == cat.name %}
                                selected
                            {% endif %}
                        >
                            {{ cat.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <div class="filter-item">
                <select name="order_by">
                    <option value="" {% if request.GET.order_by == "" %}selected{% endif %}>Order By</option>
                    <option value="top_rated" {% if request.GET.order_by == "top_rated" %}selected{% endif %}>Top Rated</option>
                    <option value="less_rated" {% if request.GET.order_by == "less_rated" %}selected{% endif %}>Less Rated</option>
                    <option value="new" {% if request.GET.order_by == "new" %}selected{% endif %}>new</option>
                    <option value="old" {% if request.GET.order_by == "old" %}selected{% endif %}>old</option>
                </select>
            </div>

            <button type="submit" class="filter-btn">
                Search
            </button>

        </form>

    </div>


    <!-- Apps Feed -->
    <div class="apps-feed">

        {% for app in apps %}

            <div class="app-card">

                <div class="app-top">

                    <div class="app-section">

                        <img
                            src="{{ app.logo.url }}"
                            alt="{{ app.name }}"
                            class="app-logo"
                        >

                        <div class="app-info">

                            <h2>{{ app.name }}</h2>

                            <div class="founder-row">
                                By {{ app.user.full_name|default:app.user.username }}
                            </div>

                            <div class="category-row">

                                {% for category in app.category.all|slice:":3" %}
                                    <span class="category-tag">
                                        {{ category.name }}
                                    </span>
                                {% endfor %}

                            </div>

                        </div>

                    </div>

                    <div class="app-date">
                        {{ app.added_at|date }}
                    </div>

                </div>


                <p class="app-description">
                    {{ app.short_description|truncatechars:180 }}
                </p>


                <div class="app-bottom">

                    <div class="app-meta">

                        <span class="upvote">
                            <img src="{% static 'icons/up.png'%}" class="icon" alt="upvoteImage"> {{ app.total_upvote }}
                        </span>

                        <span class="downvote">
                            <img src="{% static 'icons/down.png'%}" class="icon" alt="downvoteImage"> {{ app.total_downvote }}
                        </span>

                        <span class="downvote">
                            <img src="{% static 'icons/star.png' %}" class="icon" alt="starImage"> {{ app.avg_rating|default:0|floatformat:1 }}
                        </span>

                        {% if app.developed_at %}
                            <span>
                                {{ app.developed_at|date:"M Y" }}
                            </span>
                        {% endif %}

                    </div>

                    <a href="{{app.get_absolute_url}}" class="view-btn">
                        View App
                    </a>

                </div>

            </div>

        {% endfor %}


        <!-- Pagination -->

        <nav>
            <ul class="pagination justify-content-center">

                {% if apps.has_previous %}
                <li class="page-item">
                    <a class="page-link"
                       href="?page={{ apps.previous_page_number }}">
                        Prev
                    </a>
                </li>
                {% endif %}

                {% if apps.has_next %}
                <li class="page-item">
                    <a class="page-link"
                       href="?page={{ apps.next_page_number }}">
                        Next
                    </a>
                </li>
                {% endif %}

            </ul>
        </nav>

        {% if not apps %}
            <h2 class="text-center">
                No Apps Found
            </h2>
        {% endif %}

    </div>

</div>

{% endblock content %}