{% extends "base.html" %}

{% load static %}

{% block title %}
    Welcome to SaaS Community
{% endblock title %}

{% block css %}
    <link rel="stylehseet" href="{% static 'css/index.css' %}">
{% endblock css %}

{% block content %}
    <!-- Hero -->
    <section class="text-center section">
    <div class="container">
        <h1 class="fw-bold">Discover & Promote the Best SaaS Products</h1>
        <p class="text-muted">Join a community of developers sharing and reviewing SaaS apps</p>
        <a class="btn btn-primary m-2" href="{% url 'all-apps'%}">Explore Apps</a>
        <a class="btn btn-outline-primary m-2" href="{% url 'create-app' %}">Create Your SaaS</a>
    </div>
    </section>

    <!-- Social Proof -->
    <section class="section bg-light text-center">
    <div class="container">
        <div class="row">
        <div class="col-md-4"><h3>{{ total_apps }}</h3><p>Apps</p></div>
        <div class="col-md-4"><h3>{{ total_users }}</h3><p>Users</p></div>
        <div class="col-md-4"><h3>1K+</h3><p>Reviews</p></div>
        </div>
    </div>
    </section>

    <!--Trending Apps-->
    <section class="section">
        <div class="container">
            <h2 class="mb-4">Trending Apps</h2>

            <div class="d-flex overflow-auto gap-3 pb-2">

            {% for app in trending_apps %}
            <div style="min-width: 300px;">
                <div class="card p-3 h-100">
                    <h5>{{app.name}}</h5>
                    <p>{{app.short_description|truncatechars:'45'}}</p>
                    <a href="{% url 'app-detail' app.id %}" class='btn btn-primary'>View</a>
                </div>
            </div>
            {% endfor %}

            </div>
        </div>
    </section>

    <!-- Categories -->
    <section class="section bg-light">
        <div class="container">
            <h2 class="mb-4">Categories</h2>

            <div class="d-flex overflow-auto gap-3 pb-2">
            
            {% for cat in categories %}
                <a href="/apps/all/?category={{cat.name}}" style="text-decoration:none;">
                    <div style="min-width: 200px;">
                        <div class="card p-3 text-center">{{cat.name}}</div>
                    </div>
                </a>
            {% endfor %}

            </div>

        </div>
    </section>

    <!-- Discussion -->
    <section class="section">
        <div class="container">
            <h2 class="mb-4">Trending Discussions</h2>

            <div style="max-height: 300px; overflow-y: auto;">
                <ul class="list-group">
                    {% for discussion in trending_discussions %}
                    <a href="{% url 'discussion-detail' discussion.id %}" style="text-decoration:none;">
                        <li class="list-group-item d-flex justify-content-between">
                            {{discussion.title}}
                            <span class="badge bg-secondary">{{forloop.counter}}</span>
                        </li>
                    </a>
                    {% endfor %}
                </ul>
            </div>

        </div>
    </section>

    <!-- CTA -->
    <section class="section text-center bg-primary text-white">
    <div class="container">
        <h2>Have a SaaS Product? Submit it now</h2>
        <a class="btn btn-light mt-3">Submit Your App</a>
    </div>
    </section>
{% endblock content %}