{% extends "base.html" %}
{% load static %}

{% block title %}
    Application of {{application.candidate.full_name}}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/application-detail.css' %}">
{% endblock css %}

{% block content %}

<div class="application-wrapper">

    <div class="container">

        <div class="application-card">

            <!-- TOP -->

            <div class="top-header">

                <div>

                    <p class="page-subtitle">
                        Application of {{application.candidate.full_name}} <span>&rarr;</span> <a href="{% url 'applications' application.job.id %}">View other applications</a>
                    </p>

                </div>

                <!-- STATUS -->

                <div>

                    {% if application.status == "pending" %}

                        <span class="status-badge status-pending">
                            Pending
                        </span>

                    {% elif application.status == "approved" %}

                        <span class="status-badge status-approved">
                            Approved
                        </span>

                    {% elif application.status == "rejected" %}

                        <span class="status-badge status-rejected">
                            Rejected
                        </span>

                    {% elif application.status == "shortlisted" %}

                        <span class="status-badge status-shortlisted">
                            Shortlisted
                        </span>

                    {% endif %}

                </div>

            </div>

            <!-- CANDIDATE -->

            <div class="candidate-box">

                {% if application.candidate.image %}
                    <img
                        src="{{ application.candidate.image.url }}"
                        class="candidate-image"
                        alt="candidate"
                    >
                {% else %}
                    <img
                        src="{% static 'img/unknown_avatar.jpg' %}"
                        class="candidate-image"
                        alt="candidate"
                    >
                {% endif %}
                <div>

                    <div class="candidate-name">
                        {{ application.candidate.full_name }}
                    </div>

                    <div class="candidate-username">
                        <a href="{% url 'profile' application.candidate.username %}">{{ application.candidate.username }}</a>
                    </div>

                </div>

            </div>

            <!-- INFO GRID -->

            <div class="info-grid">

                <div class="info-card">

                    <div class="info-label">
                        Applied Job
                    </div>

                    <div class="info-value">
                        {{ application.job.title }}
                    </div>

                </div>

                <div class="info-card">

                    <div class="info-label">
                        Applied At
                    </div>

                    <div class="info-value">
                        {{ application.applied_at|date:"d M Y , h:i A" }}
                    </div>

                </div>

            </div>

            <!-- FILES -->

            <div class="mb-4">

                <h4 class="section-title">
                    Documents
                </h4>

                <div class="d-flex gap-3 flex-wrap">

                    <a
                        href="{{ application.resume.url }}"
                        target="_blank"
                        class="btn btn-outline-dark"
                    >
                        View Resume
                    </a>

                    <a
                        href="{{ application.cover_letter.url }}"
                        target="_blank"
                        class="btn btn-outline-primary"
                    >
                        View Cover Letter
                    </a>

                </div>

            </div>

            <!-- HR MESSAGE -->

            {% if application.hr_messages %}

                <div class="hr-message-box">

                    <h6 class="fw-bold mb-2">
                        HR Message
                    </h6>

                    <p class="mb-0">
                        {{ application.hr_messages }}
                    </p>

                </div>

            {% endif %}

            <!-- ACTION BUTTONS -->

            {% if application.status == "pending" %}

                <div class="action-buttons">

                    <!-- APPROVE -->

                    <form method="POST" 
                    action="{% url 'update-application-status' 'approved' application.id %}"
                    onsubmit="return confirm('Are you sure you want to approve this application?')"
                    >
                        <input type="hidden" value="{{application.job.id}}" name="job_id">

                        {% csrf_token %}

                        <button class="btn btn-success">
                            Approve
                        </button>

                    </form>

                    <!-- SHORTLIST -->

                    <form method="POST" 
                    action="{% url 'update-application-status' 'shortlisted' application.id %}"
                    onsubmit="return confirm('Are you sure you want to shortlist this application?')"
                    >

                        {% csrf_token %}
                        <input type="hidden" value="{{application.job.id}}" name="job_id">
                        <button class="btn btn-primary">
                            Shortlist
                        </button>

                    </form>

                    <!-- REJECT -->

                    <button
                        class="btn btn-danger"
                        data-bs-toggle="modal"
                        data-bs-target="#rejectModal"
                    >
                        Reject
                    </button>

                </div>

            {% endif %}

        </div>

    </div>

</div>

<!-- REJECT MODAL -->

<div class="modal fade"
     id="rejectModal"
     tabindex="-1"
     aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered">

        <div class="modal-content">

            <form method="POST" action="{% url 'update-application-status' 'rejected' application.id %}">
                <input type="hidden" value="{{application.job.id}}" name="job_id">

                {% csrf_token %}

                <div class="modal-header">

                    <h5 class="modal-title">
                        Reject Application
                    </h5>

                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal">
                    </button>

                </div>

                <div class="modal-body">

                    <label class="form-label fw-semibold">
                        Rejection Message
                    </label>

                    <textarea
                        name="hr_message"
                        rows="5"
                        class="form-control"
                        placeholder="Write rejection reason or feedback..."
                    ></textarea>

                </div>

                <div class="modal-footer">

                    <button
                        type="button"
                        class="btn btn-light"
                        data-bs-dismiss="modal"
                    >
                        Cancel
                    </button>

                    <button class="btn btn-danger">
                        Reject Application
                    </button>

                </div>

            </form>

        </div>

    </div>

</div>

{% endblock %}