{% extends "base.html" %}
{% load static %}

{% block title %} Applicants{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/applications.css' %}">
{% endblock css %}

{% block content %}

<div class="applicants-wrapper">

    <div class="container">

        <div class="applicants-card">

            <h2 class="page-title">
                Applicants
            </h2>

            <p class="page-subtitle">
                All applicants who applied for this job
            </p>

            <!-- FILTER -->

            <form method="GET" class="filter-form">

                

                <div class="row g-3">

                    <div class="col-md-4">

                        <select name="status" class="form-select">

                            <option value="">
                                All Status
                            </option>

                            <option value="pending"
                            {% if request.GET.status == "pending" %}
                                selected
                            {% endif %}
                            >
                                Pending
                            </option>

                            <option value="rejected"
                            {% if request.GET.status == "rejected" %}
                                selected
                            {% endif %}
                            >
                                Rejected
                            </option>

                            <option value="approved"
                            {% if request.GET.status == "approved" %}
                                selected
                            {% endif %}
                            >
                                Approved
                            </option>

                            <option value="shortlisted"
                            {% if request.GET.status == "shortlisted" %}
                                selected
                            {% endif %}
                            >
                                Shortlisted
                            </option>

                        </select>

                    </div>

                    <div class='col-md-2'>
                        <input type="text" name="username" class="form-control" placeholder="Enter Username" {% if request.GET.username%}value="{{request.GET.username}}"{% endif %}></input>
                    </div>

                    <div class="col-md-2">

                        <button class="btn btn-dark w-100">
                            Filter
                        </button>

                    </div>

                </div>

            </form>

            <!-- TABLE -->

            {% if applications %}

                <div class="table-responsive">

                    <table class="table align-middle">

                        <thead>

                            <tr>
                                <th>Applicant</th>
                                <th>Application Date</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>

                        </thead>

                        <tbody>

                            {% for application in applications %}

                                <tr>

                                    <!-- APPLICANT -->

                                    <td>

                                        <div class="applicant-info">

                                            {% if application.user.image %}
                                                <img
                                                    src="{{ application.user.image.url }}"
                                                    class="applicant-image"
                                                    alt="profile"
                                                >
                                            {% else %}
                                                <img
                                                    src="{% static 'img/unknown_avatar.jpg' %}"
                                                    class="applicant-image"
                                                    alt="profile"
                                                >
                                            {% endif %}
                                            <div>

                                                <div class="applicant-name">
                                                    {{ application.user.full_name }}
                                                </div>

                                                <div class="applicant-username">
                                                    @{{ application.user.username }}
                                                </div>

                                            </div>

                                        </div>

                                    </td>

                                    <!-- DATE -->

                                    <td>
                                        {{ application.applied_at|date:"d M Y , h:i A" }}
                                    </td>

                                    <!-- STATUS -->

                                    <td>

                                        {% if application.status == "pending" %}

                                            <span class="status-badge status-pending">
                                                Pending
                                            </span>

                                        {% elif application.status == "approved" %}

                                            <span class="status-badge status-reviewed">
                                                Approved
                                            </span>

                                        {% elif application.status == "shortlisted" %}

                                            <span class="status-badge status-accepted">
                                                Shortlisted
                                            </span>

                                        {% elif application.status == "rejected" %}

                                            <span class="status-badge status-rejected">
                                                Rejected
                                            </span>

                                        {% endif %}

                                    </td>

                                    <!-- ACTION -->

                                    <td>

                                        <a
                                            href="{% url 'application-detail' application.id %}"
                                            class="btn btn-sm btn-outline-dark"
                                        >
                                            Details
                                        </a>

                                    </td>

                                </tr>

                            {% endfor %}

                        </tbody>

                    </table>

                </div>

            {% else %}

                <div class="empty-state">

                    <i class="fa-solid fa-users fa-3x text-secondary"></i>

                    <h4>
                        No Applicants Found
                    </h4>

                    <p>
                        No one has applied for this job yet.
                    </p>

                </div>

            {% endif %}

        </div>
        <nav>
            <ul class="pagination justify-content-center">

                {% if applications.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ applications.previous_page_number }}">Prev</a>
                    </li>
                {% endif %}


                {% if applications.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ applications.next_page_number }}">Next</a>
                    </li>
                {% endif %}

            </ul>
        </nav>

    </div>

</div>

{% endblock %}