{% extends 'base.html' %}
{% load static %}
{% block title %}
    Explore Jobs
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/jobs.css' %}">
{% endblock css %}

{% block content %}


<div class="jobs-page">

    <!-- Filter Section -->
    <div class="top-filter-bar">
        <form method="GET" class="filter-form" action="{% url 'all-jobs' %}">

            <div class="filter-item">
                <input type="text" name="title" {% if request.GET.title %}value="{{request.GET.title}}" {% endif %} placeholder="Search jobs...">
            </div>

            <div class="filter-item">
                <select name="category">
                    <option value="">Category</option>
                    {% for cat in categories %}
                        <option value="{{cat.title.lower}}" {% if request.GET.category == cat.title %}selected{% endif %}>
                            {{cat.title}} ({{cat.active_jobs}})
                        </option>
                    {% endfor %}
                </select>
            </div>

            <div class="filter-item">
                <select name="job_type">
                    <option value="">Job Type</option>

                    <option value="full_time"
                        {% if request.GET.job_type == "full_time" %}selected{% endif %}>
                        Full Time
                    </option>

                    <option value="part_time"
                        {% if request.GET.job_type == "part_time" %}selected{% endif %}>
                        Part Time
                    </option>

                    <option value="full_time"
                        {% if request.GET.job_type == "intern" %}selected{% endif %}>
                        Intern
                    </option>

                    <option value="remote"
                        {% if request.GET.job_type == "remote" %}selected{% endif %}>
                        Remote
                    </option>

                    <option value="remote"
                        {% if request.GET.job_type == "contract" %}selected{% endif %}>
                        Contract
                    </option>
                </select>
            </div>

            <div class="filter-item">
                <select name="experience">
                    <option value="">Experience</option>
                    <option value="junior"
                        {% if request.GET.experience == "junior" %}selected{% endif %}>
                        Junior
                    </option>

                    <option value="mid"
                        {% if request.GET.experience == "mid" %}selected{% endif %}>
                        Mid
                    </option>

                    <option value="senior"
                        {% if request.GET.experience == "senior" %}selected{% endif %}>
                        Senior
                    </option>
                    
                </select>
            </div>

            <button type="submit" class="btn btn-primary">
                Apply Filter
            </button>

            {% if request.user.is_company %}
                <a href="{% url 'post-job'%}" class="btn btn-primary">
                    Post Job
                </a>
            {% endif %}

        </form>
    </div>


    <!-- Jobs Feed -->
    <div class="jobs-feed">

        {% for job in jobs %}
            <!-- Job Card -->
            <div class="job-card">

                <div class="job-top">

                    <div class="company-section">
                        {% if job.company.image %}
                            <img src={{job.company.image.url}} alt="logo">
                        {% else %}
                            <img src="{% static 'img/unknown_avatar.jpg'%}" alt="logo">
                        {% endif %}

                        <div class="job-info">
                            <h2>{{job.title}}</h2>
                            {% if job.is_active %}
                                <span class="active">Active</span>
                            {% else %}
                                <span class="active">Inactive</span>
                            {% endif %}

                            <div class="company-row">
                                <span class="company-name">{{job.company.full_name}}</span>
                            </div>

                            <p class="location">
                                {{job.job_type}} • {{job.location}}
                            </p>
                        </div>
                    </div>

                    <div class="job-time">
                        {{job.posted_at|date}} at {{job.posted_at|time}}
                    </div>

                </div>


                <p class="job-description">
                    Looking for an experienced Django developer to build scalable backend systems and REST APIs.
                </p>


                <div class="job-tags">
                    <span>Python</span>
                    <span>Django</span>
                    <span>REST API</span>
                    <span>Remote</span>
                </div>


                <div class="job-bottom">

                    <div class="salary">
                        {% if job.max_salary and job.min_salary %}
                            {{job.max_salary}} - {{job.min_salary}}
                        {% endif %}

                        {% if job.currency %}
                            {{job.currency}}
                        {% else %}
                            USD 
                        {% endif %}
                    </div>

                    <a href="{% url 'job-detail' job.id %}" class="apply-btn">
                        View
                    </a>

                </div>

            </div>
        {% endfor %}

        <nav>
            <ul class="pagination justify-content-center">

                {% if jobs.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ jobs.previous_page_number }}">Prev</a>
                </li>
                {% endif %}


                {% if jobs.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ jobs.next_page_number }}">Next</a>
                </li>
                {% endif %}

            </ul>
        </nav>
        {% if not jobs %}
            <h2 class="h2 text-center">No jobs found</h2>
        {% endif %}

    </div>

</div>

{% endblock content %}