{% extends "base.html" %}
{% load static %}

{% block title %}
    Application of {{application.user.full_name}}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/application-detail.css' %}">
    <link rel="stylesheet" href="{% static 'css/application-status.css' %}">
{% endblock css %}

{% block content %}

<div class="application-wrapper">

    <div class="container">

        <div class="application-card">

            <!-- TOP -->

            <div class="top-header">

                <div>

                    <p class="page-subtitle">
                        Application of {{application.user.full_name}} <span>&rarr;</span> 
                        <a href="{% if request.user.is_company %}
                                    {% url 'job-applications' application.job.id %}
                                {% else %}
                                    {% url 'user-application-dashboard'%} 
                                {% endif %}" class='no-underline'>
                            View other applications
                        </a>
                    </p>

                </div>

                <!-- STATUS -->

                <div>

                    <span class="badge bg status-{{application.status}}">
                            {{application.get_status_display}}
                    </span>

                </div>

            </div>

            <!-- CANDIDATE -->

            <div class="candidate-box">

                {% if application.user.image %}
                    <img
                        src="{{ application.user.image.url }}"
                        class="candidate-image"
                        alt="candidate-{{application.user.username}}"
                    >
                {% else %}
                    <img
                        src="{% static 'img/unknown_avatar.jpg' %}"
                        class="candidate-image"
                        alt="candidate-unknownavatar"
                    >
                {% endif %}
                <div>
                    
                    <a href="{% url 'profile' application.user.username %}" class='no-underline' target="_blank">
                        <div class="candidate-name">
                            {{ application.user.full_name }}
                        </div>
                    </a>

                    <h5 style="font-size:20px;">Email:<a href='mailto:{{application.user.email}}' class='no-underline'>{{application.user.email}}</a></h5>

                </div>

            </div>

            <!-- INFO GRID -->

            <div class="info-grid">

                <div class="info-card">

                    <div class="info-label">
                        Applied Job
                    </div>
                    
                    <div class="info-value">
                        <a href="{{application.job.get_absolute_url}}" class='no-underline'>
                            {{ application.job.title }}
                        </a>
                    </div>

                </div>

                <div class="info-card">

                    <div class="info-label">
                        Applied At
                    </div>

                    <div class="info-value">
                        {{ application.applied_at|date:"d M Y , h:i A" }}
                    </div>

                </div>

            </div>

            <!-- FILES -->

            <div class="mb-4">

                <h4 class="section-title">
                    Documents
                </h4>

                <div class="d-flex gap-3 flex-wrap">

                    <a
                        href="{{ application.resume.url }}"
                        target="_blank"
                        class="btn btn-outline-dark"
                    >
                        View Resume
                    </a>

                    <a
                        href="{{ application.cover_letter.url }}"
                        target="_blank"
                        class="btn btn-outline-primary"
                    >
                        View Cover Letter
                    </a>

                </div>

            </div>

            <!-- ACTION BUTTONS -->

            {% if actions %}

                <div class="action-buttons">

                    {% for key , value in actions.items %}
                        <form method="POST" 
                        action="{% url 'update-application-status' application.id key %}"
                        onsubmit="return confirm('Are you sure you want to {{value}} this application?')"
                        >
                            <input type="hidden" value="{{application.job.id}}" name="job_id">

                            {% csrf_token %}

                            <button class="btn status-{{key}}" style="color:white;">
                                {{value}}
                            </button>

                        </form>
                    {% endfor %}

                </div>

            {% endif %}

        </div>

    </div>

</div>
{% endblock %}